footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 10dvh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: clamp(3rem, 10vh, 5%);
    background-color: blue;
    gap: 1rem;

    p{
        width: fit-content;
    }
}

.fa-linkedin {
    width: 3em;
    height: 3em;
    background: #007bb5;
    color: white;
    border-radius: 50%;
    padding: 1rem;
  }