.main-container-index {
  margin-top: 5em;
  width: 90%;
}

.inleiding {
  position: relative;
  margin-top: 4em;
  margin-bottom: 4em;
  width: fit-content;
  padding: 2em;
  border-radius: 10px;
  background-color: var(--accent-color);
  display: grid;
  place-items: start;
  
  p {
    width: 60ch;
  }

  span{
    font-family: "Yeseva";
    font-size: var(--font-size-h3);
  }
}

.growGrid {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 1em;

  button {
    width: 100%;
    position: relative;
    height: clamp(10rem, 30dvw, 30rem);
    background-color: var(--accent-color-hover);
    text-align: center;
    color: var(--font-color-header);
    font-family: "Playwrite";
    font-size: var(--font-size-h3);
    letter-spacing: 0.1em;
    border: none;
  }

  .home-button:after{
    content: "";
    position: absolute;
    width: 110%;
    height: 110%;
    background-color: var(--font-color-header);
    border-radius: 58% 42% 27% 73% / 48% 69% 31% 52% ;
    top: 0;
  }

  button:nth-of-type(1) {
    place-self: end;
    border-radius: 50% 50% 51% 49% / 61% 35% 65% 39%;
    margin-top: 20%;
  }

  button:nth-of-type(2) {
    border-radius: 41% 59% 51% 49% / 41% 62% 38% 59%;
    margin-top: -20%;
  }

  button:focus{
    outline: solid 6px var(--accent-color);
    border: solid 6px var(--font-color-header);
  }

  button:hover{
    background-color: var(--accent-color);
  }
}

@media only screen and (max-width: 800px) {
  .main-container-index {
    margin-top: 10em;
    width: 100%;
  }

  .inleiding {
    padding: 2em;
    margin-top: 1em;
    margin-bottom: 1em;
    width: 100%;
    p {
      width: clamp(90%, 60vw, 60ch);
    }
  }

  .growgrid {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    place-items: center;
    overflow: hidden;
    
    .home-button:after{
      opacity: 0;
    }

    button:nth-of-type(1), button:nth-of-type(2){
      margin-top: 0%;
    }
  }
}



