<header>
  <nav id="navbar">
    <button
      class="hamburgerButton"
      role="navigation"
      aria-label="Open Main Navigation Menu"></button>
      <input type="checkbox" id="darkmode-toggle">
      <label tabindex="0" for="darkmode-toggle"></label>
    <a href="/">
      <span>Weekly Nerd</span>
    </a>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/sprekers">Sprekers</a></li>
      <li><a href="/mijn-ontwikkeling">Mijn Ontwikkeling</a></li>
    </ul>
  </nav>
  {% include 'partials/breadcrumbs.liquid' %}
</header>