{% layout "layouts/base.liquid" %}

{% block head %}
{% endblock %}

{% block content %}
<div class="main-container-index">
  <h1>
    {{ titel }}
  </h1>
  <section class="inleiding">
    <span>Hoi</span>
    <p>Ik ben Nicole Schilder en heb de minor Webdesign & Development gedaan.</p>
    <p>Ik Begon vrij angstig aan deze minor.
 
    Los van de strakke planning was ik nog niet heel zelfverzekerd in mijn codeer-kunsten en kennis, maar ik heb enorm
    genoten van alle mensen en de interessante talks die gegeven zijn elke week.</p>
    <p>Op deze blog lees je over wat ik
 
    geleerd heb en hoe mijn proces is verlopen.</p>
  </section>
  <section class="growGrid">
    <button class="home-button" onclick="window.location.href='/sprekers'">Sprekers</button>
    <button class="home-button" onclick="window.location.href='/mijn-ontwikkeling'">Mijn Ontwikkeling</button>
  </section>
  </div>
{% endblock %}